
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <div class="col-md-5">
          <h1 class="page-header">添加</h1>
          <form action="{:U('cate/add_cate')}" method="post" autocomplete="off">
            <div class="form-group">
              <label for="category-name">内容</label>
              <input type="text" id="category-name" name="cate_name" class="form-control" placeholder="在此处输入栏目名称" required autocomplete="off">
            </div>


              <input type="file" name="pic">


            <button class="btn btn-primary" type="submit" >添加新状态</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
