{__NOLAYOUT__}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<link rel="stylesheet" type="text/css" href="_COMMON_/layui/css/layui.css">

<style>
    body{
        background-size: 100%;
        background-image: url('/Public/Home/picture/images/hero.jpg');
        background-repeat:no-repeat;
    }
    #div1{
        position: absolute;
        left:65%;
        top:20%
    }

</style>
<body >
<div id="div1">
    <form class="layui-form layui-form-pane" action="/index.php/admin/index/login_do">
        <div class="layui-form-item">
            <label class="layui-form-label" style="background: #97d276;font-weight: bold">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="user_name" required  lay-verify="required" autocomplete="off" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="background: #98d577;font-weight: bold">密   码</label>
            <div class="layui-input-block">
                <input type="password" name="password" required lay-verify="required" autocomplete="off" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

</body>
<script src="_ADMIN_/js/jquery-2.1.4.min.js"></script>
<script src="_COMMON_/layui/layui.all.js"></script>
<script>
    //Demo
</script>
</html>