
<style>
   #my_status>div {width:100%;min-height: 100px;border:1px solid red;font-size: 16px;max-width: 708px}
</style>
    <div class="pure-u-1 pure-u-md-3-4">
     <div class="content_container">
      <div class="post">
       <div class="post-archive" id="my_status">
        <!--Use lodash to classify posts. See https://lodash.com/docs#groupBy-->
           <div>你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好</div>
           <div>你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好</div>
           <div>你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好</div>
           <div>你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好</div>
           <div>你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好</div>
           <div>你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好</div>
         </if>
       </div>
      </div>
     </div>
    </div>
<script>
    $('.article_info>a').click(function(){
        get_ajax_data($(this));
    })
</script>